<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Registration - Join Our team </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Employee Registration - Join Our team </h1>
    <p>Become a part of our dynamic and innovative company. Fill in the details below to register as an employee.</p>
    <form id="registration-form" action="/" method="POST">
      <label for="fullname">Full Name:</label>
      <input type="text" id="fullname" name="FullName" required>
      <label for="email">Email Address:</label>
      <input type="email" id="email" name="Emailaddress" required>
      <label for="username">Username:</label>
      <input type="text" id="username" name="Username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="Password" required>
      <label for="password">EmployeeID:</label>
      <input type="password" id="employee-id" name="EmployeeID" required>
      <button type="submit">Join Now</button>
    </form>
  </div>
  <script>
    
  </script>
</body>
</html>
  

